<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meu Portfólio</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <header>
        <h1>Olá, eu sou Natanael</h1>
        <p>Desenvolvedor Web | HTML, CSS, JavaScript, Node.js</p>
    </header>

    <section>
        <h2>Sobre Mim</h2>
        <p>Nascido em São Paulo SP, vivi na cidade de Osasco minha vida toda. Gosto de ler, de apreciar a natureza e de acompanhar as noticias do mundo. Café é meu combustível, diga-se de passagem. Formado em Análise e Desenvolvimento de Sistemas pela Universidade Anhanguera de Osasco, no ano de 2023, desde então venho praticando as habilidades adquiridadas com Desenvolvimento Web com as tecnologias HTML5, CSS3, Javascript, SQL (com entendimento da modelagem dados no SGBD SSMS). Possuo foco no entendimento, destrinchamento e resolução de problemas, que podem ser sanados através das tecnologias por mim praticadas. Busco oportunidades como Desenvolvedor Web nas áreas de back-end e/ou front-end.</p>
    </section>

    <section>
        <h2>Projetos</h2>
        <ul>
            <li><a href="https://natanael-cloud.github.io/siteAstrologia/mapaastral.html">Site Astrologia</a></li>
            <li><a href=" https://natanael-cloud.github.io/webTarefas/">Web Tarefas</a></li>
            <li><a href="https://natanael-cloud.github.io/pontoCompras/">Ponto Compras</a></li>
        </ul>
    </section>

    <footer>
        <p>Contato: <a href="mailto:natanpaivacosta@gmail.com">natanpaivacosta@gmail.com</a></p>
    </footer>
</body>
</html>
